@model IEnumerable<SimProval.Site>

@{
    ViewBag.Title = "Recent Sites";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Site
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignSpeed)
        </th>
@*        
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WindDirection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shielding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TerrainCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Topography)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)&nbsp;@Html.DisplayFor(modelItem => item.Address)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DesignSpeed)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesignSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WindDirection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shielding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TerrainCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Topography)
        </td>*@
        <td>
            @Html.ActionLink("Details", "Edit", new { id=item.Id }) |            
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
